<h1>Products</h1>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
        <div class="card" style="width: 20rem;">
          <img class="card-img-top">
          <%= image_tag product.image %>
          <div class="card-body">
            <h4 class="card-title"><%= product.item %></h4>
            <p class="card-text"><%= product.price %></p>
            <p class="card-text"><%= product.quantity %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>

<hr>

<!--<div class="card" style="width: 20rem;">-->
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <!--<div class="card-body">-->
    <!--<h4 class="card-title">Card title</h4>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  <!--</div>-->
<!--</div>-->

<br>

<%= link_to 'New Product', new_product_path %>
